<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></</title>
  <link rel="stylesheet" href="stylesheets/header-style.css">
</head>
<body>
  <!-- Header -->
  <header>
    <img src="images/logo.png" class="logo_img" alt="">
      <!-- Barra de navegación -->
    <img src="images/hamburguesa_icon.svg" class="abrir-btn" alt="">
    <nav class="" id="navbar">
      <ul class="opciones">
        <li><a href="#">Mi cuenta</a></li>
        <li><a href="#">Mi banco</a></li>
        <li><a href="#">Subasta</a></li>
        <li><a href="#">Jugar online</a></li>
        <li><a href="#">Torneo</a></li>
        <li><a href="#">Resumen Flotante</a></li>
        <li><a href="#">Lista Deseos</a></li>
        <li><a href="#"><button class="login_btn">Login</button></a></li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- filtros -->
    <div class="filtros">
      <h1>Filtros</h1>
      <form action="">
      <ul class="tipo_filtros">
        <!-- filtro precios -->
        <li><h2>Precios</h2></li>
        <li><select class="seleccionar_precio">
          <option value="#" disabled selected>Precios</option>
          <option value="Mayor>menor">Mayor a menor</option>
          <option value="Menor>mayor">Menor a mayor</option>
        </select></li>
        <li class="rangos">
          <p>Entre</p> <input type="number" name="rango_precio1" id="rango_precio1"> <p>y</p> <input type="number" name="rango_precio2" id="rango_precio2">
        </li>
<!-- Tipo de carta -->
        <li><h2>Tipo de carta</h2></li>
        <li><select class="tipo_carta">
          <option value="#" disabled selected>Selecciona un tipo</option>
          <option value="Guerrero Tanque">Guerrero Tanque</option>
          <option value="Guerrero Armas">Guerrero Armas</option>
          <option value="Mago fuego">Guerrero fuego</option>
          <option value="Mago hielo">Guerrero hielo</option>
          <option value="Picaro veneno">Picaro veneno</option>
          <option value="Picaro machete">Picaro machete</option>
        </select></li>
        <!-- filtro promocion -->
        <li>
    <input type="checkbox" name="promociones" class="promociones" id="promociones" value="promociones">  <b>Promoción</b>
      </li>
      <input type="submit" id="filtro_input" value="Filtrar">
      </ul>
    </form>
    </div>
  </main>

  <!-- peticiones de la base de datos para la funcion de eliminar carta -->
  <div class="card-container">
    
    <ul>
      <% products.forEach(function(product) { %>
        <li><%= product.nombre %></li>
        <li><%= product.precio %></li>
        <a href="/productos/eliminar/<%= product.id %>">Eliminar</a>
      <% }); %>
    </ul>
    </ul>

  </div>
  <script src="js/hamburguer.js"></script>
</body>
</html>
